* {
    text-decoration: none;
}

body {
    margin: 0;
}

nav {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
    color: black;
    font-weight: bolder;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
}

.nav-left {
    flex: 50%;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a {
    background-color: black;
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

section {
    
    display: flex;
    width: 70%;
    padding: 100px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(119, 118, 118);
    
}

.left {
    flex: 65%;
    margin-right: 50px;
    margin-left: 50px;
    font-size: larger;
    text-align: justify;
    
}

.right {
    display: flex;
    justify-content: end;
    flex: 45%;
    text-align: center;
    font-size: larger; 
}

.icon {
    display: flex;
    margin-top: 30px;
}

.social-media i {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 30px;
    font-size: 50px;
}


span{
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: larger;
}

.dwn{
    display: flex;
    
}